.reviewDetails-container {
    margin-top: 40px;
    padding-left: 95px;
    padding-right: 95px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.reviewDetails-addComment {
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.75;
    background-color: white;
    margin-top: 15px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    width: 200px;
}

.reviewDetails-container > button  {
    align-self: flex-end;
}